{% extends 'base.html' %}

{% block content %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Number of Questions</th>
            <th>Number of Choices</th>
            <th>Created at</th>
            <th>Edited at</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for test in tests %}
            <tr>
                <td><a href="{% url 'edit_exam' test.pk %}">{{ test.name }}</a></td>
                <td>{{ test.number_of_questions }}</td>
                <td>{{ test.number_of_choices }}</td>
                <td>{{ test.created_at }}</td>
                <td>{{ test.edited_at }}</td>
                <td>
                    <a class="btn btn-info" role="button" href="{% url 'print_exam' test.pk %}">Print Test</a>
                    <a class="btn btn-danger" role="button" href="{% url "delete_exam" test.pk %}">Delete</a>
                </td>
            </tr>
        {% empty %}
            <tr class="table-active">
                <td class="align-items-center" colspan="6">No Exams Created</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                {% if is_paginated %}
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled page-link"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="active page-link"><span>{{ i }} <span class="sr-only">(current)</span></span>
                                </li>
                            {% else %}
                                <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled page-link"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
            <div class="col-lg-6">
                <a href="{% url 'create_exam' %}" class="btn btn-success">Create New Exam</a>
            </div>
        </div>
    </div>
{% endblock %}