{% extends 'base.html' %}

{% block content %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Subject</th>
            <th>Period</th>
            <th>Description</th>
            <th>Number of Students Enrolled</th>
            <th>Number of Exams made for Subject</th>
        </tr>
        </thead>
        <tbody>
        {% for subject in subjects %}
            <tr>
                <td><a href="{% url 'edit_exam' subject.pk %}">{{ subject.name }}</a></td>
                <td>{{ subject.period }}</td>
                <td>{{ subject.description }}</td>
                <td>{{ subject.students|length }}</td>
                <td>{{ subject.exams|length }}</td>
            </tr>
        {% empty %}
            <tr class="table-active">
                <td class="align-items-center" colspan="6">No Subjects Created</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                {% if is_paginated %}
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled page-link"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="active page-link"><span>{{ i }} <span class="sr-only">(current)</span></span>
                                </li>
                            {% else %}
                                <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled page-link"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
            <div class="col-lg-6">
                <a href="{% url 'create_subject' %}" class="btn btn-success">Create New Subject</a>
            </div>
        </div>
    </div>
{% endblock %}